body {
  background-color: rgba(233, 187, 222, 0.663);
  margin: 0px;
  min-height: 1000px;
}
.bodyHeader {
  border: 5px dashed red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.h1 {
  margin: 6px 10px;
}

ul {
  border: 5px dashed green;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  border: 5px dashed violet;
  top: 0;
  left: 0;
}
form {
  border: 5px dashed blue;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  width: 50%;
}
input,
textarea {
  padding: 10px;
}
img {
  max-width: 100%;
}
@media (max-width: 768px) {
  ul {
    /* display: none; */
    flex-direction: column;
  }
}
.wrapper {
  border: 5px dashed rgb(46, 52, 45);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper header {
  width: 100%;
}
