body {
  background-color: rgb(75, 228, 177);
  margin: 0;
}
body main {
  border: 2px dashed blue;
}
body main header .city {
  border: 2px dashed yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main header .city .mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main header .city .mainInfo img {
  max-height: 7rem;
}
body main header .city .mainInfo h2 {
  margin: 0;
}
body main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(176, 187, 197);
}
body main .content #range {
  width: 40%;
  transform: scale(2);
  margin: 2rem 0;
  background-color: black;
}
body main .content .cube {
  text-align: center;
  border: 2px dashed violet;
  width: 80%;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
body main .content .cube h3,
body main .content .cube h4 {
  margin: 0;
}
body main .content .cube .weatherMain .minMax {
  display: flex;
  justify-content: center;
}